@page "{id:int?}"

@model Leome.Pages.Companies.IndexModel

@{
    ViewData["Title"] = "Companies";
}

<h1>Companies</h1>

<p>
    <a asp-page="Create">Add company</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompaniesWithJobs.Companies.First().CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompaniesWithJobs.Companies.First().RepresentativesFirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompaniesWithJobs.Companies.First().RepresentativesLastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompaniesWithJobs.Companies.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompaniesWithJobs.Companies.First().Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompaniesWithJobs.Companies.First().Intro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompaniesWithJobs.Companies.First().City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompaniesWithJobs.Companies.First().Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CompaniesWithJobs.Companies)
        {
            string selectedRow = "";
            if (item.ID == Model.CompanyID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepresentativesFirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepresentativesLastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Intro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.CompaniesWithJobs.Candidates != null)
{
    <h3>
        Best candidatees
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
        </tr>
        @foreach (var item in Model.CompaniesWithJobs.Candidates)
        {
    <tr>
        <td>
            @item.FirstMidName
        </td>
        <td>
            @item.LastName
        </td>
        <td>
            @item.CurrentCareerLevel
        </td>
        <td>
            @item.ExperienceType
        </td>
    </tr>
        }
    </table>
}